<div class="container-fluid bg-1 text-center">
    
    <div class="button">
        <h1>Outdoors for your indoors</h1><br>
        <button type="button" class="btn btn-default">Get Plants</button>
        <button type="button" class="btn btn-default">Text Us</button>
    </div>
    
  </div>
  
  <div class="container-fluid bg-2 text-center">
    <div class="pg">
        <h1>Building your indoor jungle has never been easier or more affordable. We ship healthy, happy plants directly from the nursery, straight to your door.</h1>
        <span class="dot"></span>
    </div>
  </div>
  
  <div class="container-fluid bg-3 text-center">
    <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/w3images/lights.jpg">
              <img src="https://cdn.shopify.com/s/files/1/2781/9558/articles/AdobeStock_245265039_400x.jpg?v=1593617909" alt="Lights" style="width:100%">
              <div class="caption">
                <h4>Houseplant Pests: Fungus Gnats</h4>
                <p>Let's talk about the most common (and arguably most annoying) houseplant pest: the fungus gnat. These grey-winged creatures have slender, black bod...</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/w3images/nature.jpg">
              <img src="https://cdn.shopify.com/s/files/1/2781/9558/articles/IMG_4391_2_400x.jpg?v=1591800755" alt="Nature" style="width:100%">
              <div class="caption">
                <h4>All About Bromeliads</h4>
                <p>Bromeliads are unique, bold plants that are prized for their thick leaves and vibrant inflorescence (a.k.a flower). They’re easy to care for, but d...</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/w3images/fjords.jpg">
              <img src="https://cdn.shopify.com/s/files/1/2781/9558/articles/SEEDBUNDLE-BLOG-2_400x.png?v=1589571687" alt="Fjords" style="width:100%">
              <div class="caption">
                <h4>How to Grow Your Own Herbs & Vegetables</h4>
                <p>We know growing your own herbs and vegetables can seem intimidating, but it’s actually really easy and makes for a great family (or quarantine) ac...</p>
              </div>
            </a>
          </div>
        </div>
      </div>
  </div>